/*  Custom styles  */
/* 
* {
  padding: 0;
  margin: 0;
} */

.MAIN-WRAPPER {
  /* width: 100%;
  height: 100vh;
  background: url("assets/images/city-wallpaper.jpg") top center;
  background-size: cover;
  position: relative; */

  /* Yellow Color: #FFD83D */

  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.MAIN-WRAPPER::before {
  content: "";
  background-image: url("../images/city-wallpaper.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
  z-index: -1 !important;
}

body {
  background-color: black;
}

.NAVBAR {
  background-color: transparent !important;
  color: whitesmoke !important;
  opacity: 1;
  min-width: 100% !important;
}

/* Custom Search bar */

/* #custom-search-input {
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

#custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

/* margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
} */

/* #custom-search-input button {
  border: 0;
  background: none; */
/** belows styles are working good */
/* padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px; */
/* IE7-8 doesn't have border-radius, so don't indent the padding */
/* margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #d9230f;
} */

/* .search-query:focus + button {
  z-index: 3;
}  */

.SEARCH {
  margin-left: 120%;
  margin-top: -15%;
}

#custom-search-input {
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

#custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  /* padding-left: 3px; */
  padding-left: 4px \9;
  background-color: transparent;
  color: white;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#custom-search-input button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -30px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.975rem 0.75rem;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #ffffff;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fa-search {
  /* height: 250px !important;
    width: 250px !important; */
  margin-left: -20px !important;
}
search-query:focus + button {
  z-index: 3;
}

/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: "Poppins", sans-serif;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  font-family: "Playfair Display", serif !important;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
  width: 50%;
  position: fixed;
  top: 0;
  left: -50%;
  height: 100vh;
  z-index: 999;
  background: #000000;
  color: #fff;
  transition: all 0.3s;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
  left: 0;
}

#dismiss {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #000000;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#dismiss:hover {
  background: rgb(0, 0, 0);
  color: #fffb00;
}

.overlay {
  /* display: none; */
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  /* opacity: 0; */
  transition: all 0.5s ease-in-out;
}

.overlay.active {
  display: block;
  opacity: 1;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #000000;
  color: white !important;
}

#sidebar ul.components {
  padding: 0px 70px;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 34px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  display: block;
}

#sidebar ul li a:hover {
  color: #ffd000;
  /* background: #ffd000; */
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: rgb(255, 217, 0);
  background: #000000;
}

#sidebar ul {
  border: none !important;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386d5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#sidebarCollapse {
  /* Vector */

  /* position: absolute;
left: 16.67%;
right: 16.67%;
top: 25%;
bottom: 25%;

border: 2px solid #FFFFFF; */

  background-color: transparent;
  border: 0px;
  padding: 2px;
  background-color: transparent;
  border: 0px;
}

.SIDEBAR-TEXT {
  font-weight: lighter !important;
  font-size: 18px;
  padding-left: 80px;
  padding-right: 150px !important;

  font-family: "Mulish", sans-serif;
}

.SIDEBAR-TEXT {
  font-weight: lighter !important;
  font-size: 18px;
  padding-left: 80px;
  padding-right: 150px !important;
}

.SIDEBAR-DETAILS {
  font-weight: lighter !important;
  font-size: 20px;
  padding-left: 80px;
  padding-right: 150px !important;
  font-family: "Mulish", sans-serif;
  margin: 0px !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.NAV-NUM {
  font-size: 18px;
  font-weight: lighter;
}

.SIDEBAR-DETAILS {
  font-weight: lighter !important;
  font-size: 20px;
  padding-left: 80px;
  padding-right: 150px !important;
  font-family: "Mulish", sans-serif;
  margin: 0px !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.NAV-NUM {
  font-size: 18px;
  font-weight: lighter;
}

.PUZZLE {
  width: 30%;
  height: 30%;
  float: right;
  margin-top: 90px;
  margin-right: 40px;
}

.rotate {
  font-size: 10px;
  margin-top: 120px;
  margin-right: -150px;
  transform: rotate(+90deg);
  float: right;
  color: #ffd000;
  font-family: "Mulish", sans-serif;
}

.BRAND {
  color: whitesmoke;
  font-size: 30px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

.PUZZLE {
  width: 30%;
  height: 30%;
  float: right;
  margin-top: 80px;
  margin-right: 80px;
}

.rotate {
  font-size: 10px;
  margin-top: 100px;
  padding-top: 5px;
  margin-right: -150px;
  transform: rotate(+90deg);
  float: right;
  color: #ffd000;
  font-family: "Mulish", sans-serif;
  /* overflow: visible !important;
  z-index: z !important; */
}

.BRAND {
  color: whitesmoke;
  font-size: 30px;
  font-weight: bold;
  font-family: "Playfair Display", serif !important;
}

.SOL-CONTAINER {
  position: absolute;
  margin-top: 100px;
  margin-left: 50px;
  max-width: 500px;
}

.SOL-TEXT-BIG {
  color: white;
  font-size: 40px;
  font-weight: bold;
  font-family: "Playfair Display", serif !important;
}

.SOL-LINKS {
  font-size: 22px;
  font-family: "Playfair Display", serif !important;
  color: white !important;
}

/* APPROACH CONTAINER */

.Approach-para-expl {
  color: gray;
  font-size: 22px;
  padding-right: 150px !important;
  padding-top: 20px;
  font-family: "Mulish", sans-serif;
}

.approach-side-txt {
  font-family: "Playfair Display", serif !important;
}

.card {
  color: white;
  background-color: rgb(26, 25, 25);
  align-content: center;
  margin-left: 10%;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
  margin-left: 10rem;
}

.card-text {
  padding-left: 1.5rem !important;
  margin-left: 7rem;
  margin-top: 20px;
}

.card-text2 {
  padding-left: 1.5rem !important;
  margin-left: 7rem;
  /* margin-top: 15px; */
  padding-top: 0px !important;
}
